#background{
  background-color: #D8BFD8;
}

.square {
  height: 350px;
  background-color: #928bd4;
}

.heading {
  position:absolute;
  height: 12%;
  font-size: 60px;
  color: #8B008B;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  margin-top: 100px;
  padding: 20px;
}

.down{
  position:relative; 
  top:20px;
}

.down1{
  position:relative; 
  top:40px;
}

.down2{
  position:relative; 
  top:60px;
}

.down3{
  position:relative; 
  top:80px;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #D8BFD8;
	border-bottom: 25px solid transparent;
}

.text {
  border-style: dashed;
  color: #691269;
  padding: 20px;
  margin: 20px;
}

